# Todos direitos autorais reservados pelo QOTA.

name: Qota Backend CI - Build & Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  backend-ci:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          
          cache-dependency-path: 'package-lock.json' 

      - name: Install System Dependencies for Prisma
        run: sudo apt-get update && sudo apt-get install -y sqlite3 libsqlite3-dev

      - name: Install Project Dependencies
        run: npm ci
        env:
          PRISMA_ENGINES_CHECKSUM_IGNORE_MISSING: "1"

      - name: Generate Prisma Client
        run: npx prisma generate
        env:
          PRISMA_ENGINES_CHECKSUM_IGNORE_MISSING: "1"

      - name: Run Prisma Migrations
        run: npx prisma migrate deploy
        env:
          # IMPORTANTE: Adicionar esta Secret nas configurações
          # do repositório TCC-Back-main
          DATABASE_URL: ${{ secrets.DATABASE_URL_TEST }} 

      - name: Run Automated Tests
        run: npm test
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL_TEST }}
          ACCESS_TOKEN_SECRET: ${{ secrets.ACCESS_TOKEN_SECRET_TEST }}
          REFRESH_TOKEN_SECRET: ${{ secrets.REFRESH_TOKEN_SECRET_TEST }}